<ion-view hide-nav-bar="true">
	<ion-content has-bouncing="true">
		<div class="applogo">
			<h1>Exceed Vote!!!</h1>
			<h4>Voting close at 16:00</h4>
		</div>
		<ion-list>
			<ion-item class="item-thumbnail-left" ui-sref="base.project({id: 1})">
				<img src="http://placeskull.com/50/50/cccccc?1">
				<h2>Project lnw</h2>
				<h4>by Team GG</h4>
				<p>The best team ever</p>
				<div class="bestof balanced">Voted Best of Team</div>
				<span class="badge badge-balanced">Voted</span>
			</ion-item>
			<ion-item class="item-thumbnail-left" ui-sref="base.project({id: 2})">
				<img src="http://placeskull.com/50/50/cccccc?2">
				<h2>Project lnw</h2>
				<h4>by Team GG</h4>
				<p>The best team ever</p>
				<span class="badge badge-balanced">Voted</span>
			</ion-item>
			<ion-item class="item-thumbnail-left" ui-sref="base.project({id: 3})">
				<img src="http://placeskull.com/50/50/cccccc?3">
				<h2>Project lnw</h2>
				<h4>by Team GG</h4>
				<p>The best team ever</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
