@()
@import views.html.helper.CSRF
@main("") {
  <div id="errorpage">
    <img src="@routes.Assets.versioned("images/forbidden.jpg")" class="icon">
    <div class="reason">You have no permission to access this resource.</div>
    @if(utils.Auth.isLoggedIn){
      <div class="reason">You're logged in as @utils.Auth.getUser.username</div>
    }else{
      <div class="reason">You're not logged in</div>
    }

    <a href="@routes.AdminController.main()" class="btn btn-lg btn-primary">Home</a>
    @if(utils.Auth.isLoggedIn){
      <form action="@routes.LoginController.logout()" method="POST" id="logoutfrm" style="display: inline">
        @CSRF.formField
        <input type="submit" class="btn btn-default btn-lg" value="Logout">
      </form>
    }else{
      <a href="@routes.LoginController.login()" class="btn btn-lg btn-default">Login</a>
    }
  </div>
} {
} {
}
