@item(name: String, description: String, link: String, icon: String = "settings.svg") = {
	<a href="@link">
		<div class="row adminrow">
			<img src="@routes.Assets.versioned("images/"+icon)" class="img-responsive col-xs-1 icon">
			<div class="col-xs-11">
				<h3>@name</h3>
				@Html(description)
			</div>
		</div>
	</a>
}
@main("Backoffice") {

	@item("Configuration", "Close voting, set announcement, edit voting categories.", "#", "settings.svg")
	@item("Groups", "Create groups, assign users to group.", "#", "group.svg")
	@item("Projects", "Manage list of projects and their descriptions.", "#", "projects.svg")
	@item("Users", "Manage list of users and their permission.", routes.UserController.list().url, "users.svg")
	@item("Voting result", "View real time voting result", routes.VotingResultController.result().url, "poll.svg")

} {
} {
}
