@(categories: java.util.List[VoteCategory], addForm: Form[VoteCategory], configForm: Form[forms.ConfigForm] )
@import helper._
@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-sm-2", "col-sm-10") }

@main("Configuration", routes.AdminController.main().url){
    @b3.form(routes.ConfigController.saveConfig()) {
        @CSRF.formField
        @b3.text(configForm("announcement"), '_label -> "Announcement")
	    @b3.checkbox(configForm("voteOpen"), '_text -> "Allow voting")
        @b3.checkbox(configForm("allowMemberEdit"), '_text -> "Allow editing of group details by group members")
        @b3.submit('class -> "btn btn-success") { Save }
    }

    <div class="form-group" style="margin-top: 50px;">
        <label class="col-sm-2 control-label" style="text-align: right;">Voting categories</label>
        <div class="col-sm-10">
            <div class="table-responsive row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th class="col-xs-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(category <- categories) {
                        <tr>
                            <td>@category.name</td>
                            <td>@{category.`type`}</td>
                            <td class="text-right"><button class="btn btn-link"><i class="glyphicon glyphicon-remove"></i></button></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        @b3.form(routes.ConfigController.saveCategory()) {
            @CSRF.formField
            @b3.text(addForm("name"), '_label -> "Name")
            @b3.select(addForm("type"), options=for (c <- VoteCategory.VOTE_TYPE.values()) yield c.name() -> c.name(), '_label -> "Type")
            @b3.submit('class -> "btn btn-success") { Add }
        }
    </div>
}{
}{
}