@(login: Form[forms.LoginForm])
@import helper._
@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-sm-2", "col-sm-10") }

@main("Login") {

  @if(login.hasGlobalErrors) {
    <div class="alert alert-danger">@login.globalError.message</div>
  }

  @b3.form(routes.LoginController.doLogin()) {
    @CSRF.formField
    @b3.text(login("username"), '_label -> "Username", '_help -> "Use your KU account to sign in")
    @b3.password(login("password"), '_label -> "Password")
	@b3.submit('class -> "btn btn-success"){ Login }
  }

}
