@(title: String, back: String = null)(content: Html)(css: Html)(js: Html)
@import views.html.helper.CSRF
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>@if(!title.isEmpty){@title | }Exceed Vote</title>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/admin.css")">
	    @css
    </head>
    <body>
        <header class="mainheader">
            <div id="bareffect"></div>
            <div class="container">
                <div class="row">
                    <h1 class="brand col-sm-8"><a href="@routes.AdminController.main()"><img src="@routes.Assets.versioned("images/logo.svg")"></a></h1>
                    @if(utils.Auth.isLoggedIn) {
                        <div class="col-sm-4 text-right">
                            <span id="loggedas">Logged in as <strong>@utils.Auth.getUser.getName</strong></span>
                            <form action="@routes.LoginController.logout()" method="POST" id="logoutfrm">
	                            @CSRF.formField
								<input type="submit" class="btn btn-default" value="Logout">
                            </form>
                        </div>
                    }
                </div>
            </div>
        </header>
        @if(!title.isEmpty) {
            <header class="pageheader">
                <div class="container">
                    <h2>
	                    @if(back != null){
		                    <a href="@back" class="btn btn-link btn-lg"><i class="glyphicon glyphicon-chevron-left"></i></a>
	                    }
                        @title
                    </h2>
                </div>
            </header>
        }
        <div class="container maincontainer">
           @content
        </div>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	    @js
    </body>
</html>
