@(title: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>@if(!title.isEmpty){@title | }Exceed Vote</title>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/admin.css")">
    </head>
    <body>
        <header class="mainheader">
            <div id="bareffect"></div>
            <div class="container">
                <div class="row">
                    <h1 class="brand col-sm-8"><img src="@routes.Assets.versioned("images/logo.svg")"></h1>
                    @if(utils.Auth.isLoggedIn) {
                        <div class="col-sm-4 text-right">
                            Logged in as <strong>@utils.Auth.getUser.getName</strong>.
                            <div>
                                <a class="btn btn-default" href="..">Logout</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </header>
        @if(!title.isEmpty) {
            <header class="pageheader">
                <div class="container">
                    <h2>@title</h2>
                </div>
            </header>
        }
        <div class="container">
           @content
        </div>
    </body>
</html>
