@(title: String, back: String = null)(content: Html)
@import views.html.helper.CSRF
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>@if(!title.isEmpty){@title | }Exceed Vote</title>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/admin.css")">
    </head>
    <body>
        <header class="mainheader">
            <div id="bareffect"></div>
            <div class="container">
                <div class="row">
                    <h1 class="brand col-sm-8"><a href="@routes.AdminController.main()"><img src="@routes.Assets.versioned("images/logo.svg")"></a></h1>
                    @if(utils.Auth.isLoggedIn) {
                        <div class="col-sm-4 text-right">
                            Logged in as <strong>@utils.Auth.getUser.getName</strong>
                            <form action="@routes.LoginController.logout()" method="POST">
	                            @CSRF.formField
								<input type="submit" class="btn btn-default" value="Logout">
                            </form>
                        </div>
                    }
                </div>
            </div>
        </header>
        @if(!title.isEmpty) {
            <header class="pageheader">
                <div class="container">
                    <h2>
	                    @if(back != null){
		                    <a href="@back" class="btn btn-link btn-lg"><i class="glyphicon glyphicon-chevron-left"></i></a>
	                    }
                        @title
                    </h2>
                </div>
            </header>
        }
        <div class="container maincontainer">
           @content
        </div>
    </body>
</html>
