@(projects: java.util.List[Project], addForm: Form[forms.AddProjectForm])
@import collection.JavaConverters._
@import helper._
@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-sm-2", "col-sm-10") }

@main("Projects", routes.AdminController.main().url){
	<div class="row">
		<div class="table-responsive">
			<table class="table table-bordered" id="datatable">
				<thead>
					<tr>
						<th>Name</th>
						<th>Group number</th>
						<th>Group name</th>
						<th>Remove</th>
					</tr>
				</thead>
				<tbody>
				@for(project <- projects){
					<tr>
						<td>@project.name</td>
						<td>@if(project.group != null){
							@project.group.number
						}</td>
						<td>@if(project.group != null){
							@project.group.name
						}</td>
						<td>
							<form action="@routes.ProjectController.delete()" method="POST" class="removeform">
								@CSRF.formField
								<input type="hidden" name="id" value="@project.id">
								<button type="submit" class="btn btn-link btn-sm">
									<i class="glyphicon glyphicon-remove"></i>
								</button>
							</form>
						</td>
					</tr>
				}
				</tbody>
			</table>
		</div>
	</div>
	<h3>Create new project</h3>
	@if(addForm.hasGlobalErrors) {
		<div class="alert alert-danger">@addForm.globalError.message</div>
	}
	@b3.form(routes.ProjectController.save()) {
		@CSRF.formField
		@b3.text(addForm("name"), '_label -> "Name", 'autofocus -> true)
		@b3.select(addForm("group"), options=for (group <- Groups.find.all()) yield group.id.toString() -> group.name, '_label -> "Group")
		@b3.submit('class -> "btn btn-success"){ Add }
	}
} {
} {
	<script>
		$("table").on("submit", ".removeform", function(e){
			var name = $(e.target).closest("tr" ).find("td:first").text();
			return confirm("Removing " + name + " cannot be undone.\nAll votes for this project will be lost forever.\n\nContinue with removal?");
		});
	</script>
}