@(users: java.util.List[User], pager: utils.Pagination, addForm: Form[forms.AddUserForm])
@import collection.JavaConverters._
@import helper._
@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-sm-2", "col-sm-10") }

@main("Users", routes.AdminController.main().url){
	<div class="row">
		<div class="col-sm-8">
			<div class="table-responsive">
				<table class="table table-bordered" id="datatable">
					<thead>
						<tr>
							<th>Username</th>
							<th>Name</th>
							<th>Organization</th>
							<th>Role</th>
							<th>Group</th>
							<th class="col-xs-2">Has PW?</th>
							<th>Edit</th>
						</tr>
					</thead>
					<tbody>
					@for(user <- users){
						<tr data-data="@user.toAdminJson">
							<td>@user.username</td>
							<td>@user.name</td>
							<td>@user.organization</td>
							<td>@{user.`type`}</td>
							<td>@if(user.group != null){@user.group.name <em>(@user.group.number)</em>}</td>
							<td>@if(user.password == null || user.password.isEmpty){
								<i class="glyphicon glyphicon-remove"></i>
							}else{
								<i class="glyphicon glyphicon-ok"></i>
							}</td>
							<td>
								<a class="btn btn-link btn-sm editbtn" href="#">
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
							</td>
						</tr>
					}
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-sm-4">
			<form action="@routes.UserController.edit()" method="POST" id="editpanel">
				<h4>Edit</h4>
				<div id="error"></div>
				@CSRF.formField
				<input name="id" type="hidden">
				<div class="form-group">
					<label>Username</label>
					<input class="form-control" type="text" name="username">
				</div>
				<div class="form-group">
					<label>Password</label>
					<div class="input-group">
						<span class="input-group-addon">
							<input name="changepw" type="checkbox">
						</span>
						<input class="form-control" type="password" name="password" placeholder="Unchanged">
					</div>
				</div>
				<div class="form-group">
					<label>Real name</label>
					<input class="form-control" type="text" name="name">
				</div>
				<div class="form-group">
					<label>Organization</label>
					<input class="form-control" type="text" name="organization">
				</div>
				<div class="form-group">
					<label>Role</label>
					<select name="type" class="form-control">
						@for(types <- User.TYPES.values()){
							<option value="@types">@types</option>
						}
					</select>
				</div>
				<input class="btn btn-success" type="submit" value="Edit">
				<input class="btn btn-link" type="button" id="deleteuser" value="Delete">
			</form>
		</div>
	</div>
	<nav>
		<ul class="pagination">
			@if(pager.hasPreviousPage) {
				<li>
					<a href="@routes.UserController.list()?page=@{pager.getPreviousPage}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
			}else{
				<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
			}
			@for(i <- 1 to pager.getPageCount){
				<li><a href="@routes.UserController.list()?page=@{i-1}">@{i}</a></li>
			}
			@if(pager.hasNextPage) {
				<li>
					<a href="@routes.UserController.list()?page=@{pager.getNextPage}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			}else{
				<li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
			}
		</ul>
	</nav>
	<h3>Create new user</h3>
	@if(addForm.hasGlobalErrors) {
		<div class="alert alert-danger">@addForm.globalError.message</div>
	}
	@b3.form(routes.UserController.save()) {
		@CSRF.formField
		@b3.text(addForm("username"), '_label -> "Username", 'autofocus -> true)
		@b3.password(addForm("password"), '_label -> "Password", '_help -> "Optional for user who has a KU account with the same username")
		@b3.text(addForm("name"), '_label -> "Real name")
		@b3.text(addForm("organization"), '_label -> "Organization")
		@b3.select(addForm("type"), options=for (c <- User.TYPES.values()) yield c.name() -> c.name(), '_label -> "Role")
		@b3.submit('class -> "btn btn-success"){ Add }
	}
} {
} {
	<script>window.myId = @play.libs.Json.toJson(utils.Auth.getUser.id);</script>
	<script src="@routes.Assets.versioned("javascripts/edit_user.js")"></script>
}